/* Estilo do conteúdo do modal */
.modal-content {
    display: flex;
    align-items: flex-start;
  }
  
  /* Estilo da imagem */
  .modal-image {
    margin-right: 20px;
    height: 300px;
  }
  
  /* Estilo dos detalhes à direita da imagem */
  .modal-details {
    display: flex;
    flex-direction: column;
  }
  
  /* Estilo do título */
  .modal-details h1 {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  /* Estilo da descrição */
  .modal-details p {
    font-size: 0.9rem;
    text-align: justify;
  }
  
  /* Estilo da classificação */
  .modal-details p:nth-of-type(2) {
    font-weight: bold;
  }
  
  /* Estilo da data de encerramento */
  .modal-details p:nth-of-type(3) {
    font-size: 1rem;
  }
  
  /* Estilo do botão no canto superior direito */
  .modal-actions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 10px; /* Espaçamento superior */
  }

  .modal-actions button {
    border: none;
    cursor: pointer;
    background-color: white;
  }

  .custom-modal-content {
    width: 1000px;
    overflow: hidden;
  }

  @media (max-width: 768px) {
    .modal-content {
        flex-direction: column; /* Empilhe os elementos verticalmente */
    }

    .modal-image {
        margin-right: 0; /* Remova a margem para a imagem */
        width: 100%;
    }

    .custom-modal-content {
        max-width: 300px; /* Defina uma largura máxima para o modal */
    }
}





